<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>login page</title>
    </head>
    <body>
        <form action="authenticate" method="post">
            <label for="username"> Username</label>
            <input type="text" name="username" id="username" /><br><br><br>
            
            <label for="password"> Password</label>
            <input type="text" name="password" id="password" /><br><br><br>

            <button type="submit" >Login</button>
        </form>
        <% if (error){ %>
            <p style="color: red;"> <%= error %> </p>
        <% } %>
    </body>
</html>